<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试平台登录</title>
    <style>
        body {
            background: url("../static/login.jpg");
            background-attachment: fixed;
            background-size: cover;
        }

        .wqrf_input {
            width: 90%;
            background-color: #d1d0d1;
            border-radius: 50px;
            text-align: center;
            float: right;
            margin-right: 10px;
            height: 30px;
            border: 0;

        }

        span {
            color: #5e8ff2;
        }
    </style>

</head>
<body>
<br>
<div style="box-shadow: 4px 4px 6px #2a262a;margin-left: -webkit-calc(50% - 150px);width: 300px;background-color: white; opacity:0.8;border-radius: 20px;text-align: center">
    <br>
    <strong><span style="font-size: xx-large;">接口测试平台</span></strong>
    <br>
    <span>欢迎使用</span>
    <br><br>

    <input type="text" class="wqrf_input" placeholder="用户名">
    <br><br>
    <input type="text" class="wqrf_input" placeholder="密码">

    <br><br><br>
    <button style="width: 90%;height: 35px;border-radius: 50px;background-color: #5e7ef2;color: white;font-size: large;border: 0;box-shadow: 4px 4px 4px #a0a0a0">
        登 陆
    </button>
    <br><br>
    <span style="font-size: xx-small">若首次登录,请点击 <a href="">注册账号</a></span>
    <br><br>
</div>


</body>
</html>